In [6]:
import numpy as np
import pandas as pd

In [4]:
import os
os.chdir('C://Users//Administrator//Desktop//Python Assignments')

In [7]:
import csv
airquality = pd.read_csv('airquality.csv',encoding='latin')

In [21]:
#1.	Fetch the observations for 9 day of June
airquality[(airquality.Month==6) & (airquality.Day==9)]

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [23]:
#2.	Find Average temperature for the month of June.
airquality[airquality.Month==6].mean().Temp

79.1

In [59]:
#3.	To which day of June has the least temperature
(airquality.Day[(airquality.Temp==airquality[airquality.Month==6].Temp.min()) & (airquality.Month==6)])

48    18
Name: Day, dtype: int64

In [32]:
#4.	Find Maximum Ozone value for the month of May
airquality.Ozone[airquality.Month==5].max()

115.0

In [34]:
#5.	Find the count of the missing values in the ozone column of the data set
airquality.Ozone.isna().sum()

37

In [35]:
#6.	Find out What is the mean of the Ozone column in this dataset

airquality.Ozone.mean()

42.12931034482759

In [42]:
#7.	Find out which month has the highest temperature
airquality.Month[airquality.Temp==airquality.Temp.max()]

119    8
Name: Month, dtype: int64

In [60]:
#8.	Find out the wind value when the Ozone becomes maximum
airquality.Wind[airquality.Ozone==airquality.Ozone.max()]

116    3.4
Name: Wind, dtype: float64

In [65]:
#9.	Find out the months for which the airquality observations have been carried out
airquality.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [71]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.
airquality[airquality.Day==1][['Ozone','Temp']]

     Ozone  Temp
0     41.0    67
31     NaN    78
61   135.0    84
92    39.0    81
123   96.0    91

In [8]:
#11.	Which day of which month corresponds to the least Ozone Value. 

airquality[airquality.Ozone==airquality.Ozone.min()][['Day','Month']]

    Day  Month
20   21      5

In [74]:
#12.	Convert the temperature for all the observations to Centigrade scale

(airquality.Temp-32)*5/9

0      19.444444
1      22.222222
2      23.333333
3      16.666667
4      13.333333
5      18.888889
6      18.333333
7      15.000000
8      16.111111
9      20.555556
10     23.333333
11     20.555556
12     18.888889
13     20.000000
14     14.444444
15     17.777778
16     18.888889
17     13.888889
18     20.000000
19     16.666667
20     15.000000
21     22.777778
22     16.111111
23     16.111111
24     13.888889
25     14.444444
26     13.888889
27     19.444444
28     27.222222
29     26.111111
         ...
123    32.777778
124    33.333333
125    33.888889
126    33.888889
127    30.555556
128    28.888889
129    26.666667
130    25.555556
131    23.888889
132    22.777778
133    27.222222
134    24.444444
135    25.000000
136    21.666667
137    21.666667
138    25.555556
139    19.444444
140    24.444444
141    20.000000
142    27.777778
143    17.777778
144    21.666667
145    27.222222
146    20.555556
147    17.222222
148    21.111111
149    25.000000
150    23.888889
151    24.444444
152    20.000000
Name: Temp, Length: 153, dtype: float64