In [2]:
import pandas as pd
import math
import numpy as np

In [3]:
store=pd.read_csv("C://Users//Administrator//Desktop//Python Assignments//DataSets//store.csv",sep=',',header=0,encoding='latin')

In [4]:
#•	How many unique cities are the orders being delivered to
len(store.City.unique())
# or len(np.unique(store.City))

531

In [35]:
#•	What is the total quantity sold in the East Region?
len(store.Quantity[store.Region=="East"])

2848

In [37]:
#•	Find the sum of the quantity sold in the East Region
store.groupby('Region').sum()['Quantity'][['East']]
# OR len(store.Quantity[store.Region=="East"])

Region
East    10618
Name: Quantity, dtype: int64

In [36]:
store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [43]:
#•	Find the mean of quantity for every region
store.groupby('Region').mean()['Quantity']

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [44]:
#•	Find the mean of sales for every category
store.groupby('Category').mean()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
Category,,,,,,
Furniture,5041.643564,55726.556341,349.834887,3.785007,0.173923,8.699327
Office Supplies,4980.175075,54890.951211,119.324101,3.801195,0.157285,20.327050
Technology,5003.331890,55551.572279,452.709276,3.756903,0.132323,78.752002

In [51]:
#•	Find the max, min, sum of sales and profit for every category
store.groupby('Category')[['Sales','Profit']].agg(['min','max','sum'])

                 Sales                             Profit            \
                   min        max          sum        min       max
Category
Furniture        1.892   4416.174  741999.7953 -1862.3124  1013.127
Office Supplies  0.444   9892.740  719047.0320 -3701.8928  4946.370
Technology       0.990  22638.480  836154.0330 -6599.9780  8399.976


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

In [52]:
#•	Find sum of sales and max profit for every segment
store.groupby("Segment")[['Sales',"Profit"]].agg(['sum','max'])

                    Sales                 Profit
                      sum       max          sum        max
Segment
Consumer     1.161401e+06  13999.96  134119.2092  6719.9808
Corporate    7.061464e+05  17499.95   91979.1340  8399.9760
Home Office  4.296531e+05  22638.48   60298.6785  3919.9888

In [53]:
#•	For every segment find the mean of the discount
store.groupby('Segment')[['Discount']].mean()

             Discount
Segment
Consumer     0.158141
Corporate    0.158228
Home Office  0.147128

In [5]:
#10. •	For every segment find the most profitable customers

a=[store.groupby('Segment') .max() .Profit]
b=[store.Profit]
store[["Customer Name","Segment","Profit"]][np.in1d(b,a)]

     Customer Name      Segment     Profit
2623  Tom Ashbrook  Home Office  3919.9888
6826  Tamara Chand    Corporate  8399.9760
8153  Raymond Buch     Consumer  6719.9808

1

In [66]:
#•	What are the top 5 categories that give maximum profit?
store.groupby('Sub-Category')['Profit'].max().sort_values(ascending=False).head()

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

In [8]:
#•	What is the Total Sales, Quantity, Discount, Profit across Total US.
store[['Sales','Quantity','Discount','Profit']].sum()

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

In [11]:
#•	How many times has it taken more than 5 days from placing an order to shipping
store["Ship Date"]=pd.to_datetime(store['Ship Date'])
store["Order Date"]=pd.to_datetime(store['Order Date'])
len(store[(store["Ship Date"]-store["Order Date"])>'5 days'])

1822

In [13]:
#•	Find the total number of orders in every category which has been shipped with a duration > 5 days
store["total_days"]=store["Ship Date"]-store["Order Date"]
store[store.total_days>'5 days'].groupby("Category")['Customer ID'].count()

Category
Furniture           365
Office Supplies    1131
Technology          326
Name: Customer ID, dtype: int64

In [16]:
#•	What’s the percentage of items which has been shipped within 5 days
sum = store['Quantity'].sum()
sum1 = store[store.total_days<='5 days'].Quantity.sum()
percent = (sum1/sum)*100
percent

81.65447680405566

In [18]:
#•	What’s the percentage of items which has been shipped after 5 days
sum = store['Quantity'].sum()
sum1 = store[store.total_days>'5 days'].Quantity.sum()
percent = (sum1/sum)*100
percent

18.34552319594434